<div class="container">
  <div class="row pb-3 pt-3">
    <div class="col-sm-12">
      <mat-card class="pt-0">
        <div class="intro-header row justify-content-sm-center">
          <div class="col-sm-3 pt-3 intro-title">
            <p style="max-width: 100%">
              <img style="max-width: 100%" class="intro-headshot" src="assets/headshot.jpg" alt="picture of Nate"/>
            </p>
            <mat-card-title translate>Nate Walls</mat-card-title>
            <mat-card-subtitle>
              Software Developer
            </mat-card-subtitle>
          </div>
        </div>
        <mat-card-content>
          <p class="m-2">
            Hello, and thank you for visiting my resume website! I am a software
            developer with experience in front-end, back-end, and full-stack
            web development. You can find the source code for this static Angular
            website TODO HERE.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-sm-12">
      <mat-card >
        <mat-card-title>Work History</mat-card-title>
          <mat-card-content>
            <mat-accordion>
              <app-work-history-item companyName="Dick's Sporting Goods"
                                     title="Software Engineer II"
                                     dateRange="January 2020 - present"
                                     description="This is the description">

              </app-work-history-item>
              <app-work-history-item companyName="Sila Solutions Group"
                                     title="Software Developer, Identity and Access Management"
                                     dateRange="January 2019 - January 2020"
                                     description="This is the description">

              </app-work-history-item>
              <app-work-history-item companyName="Hileman Group"
                                     title="Technology Intern"
                                     dateRange="May - August 2018"
                                     description="This is the description">

              </app-work-history-item>
              <app-work-history-item companyName="Innovative Systems, Inc."
                                     title="Research and Development Intern"
                                     dateRange="January - August 2017"
                                     description="This is the description">
              </app-work-history-item>
              <app-work-history-item companyName="Intwine Connect"
                                     title="Front End User Interface Intern"
                                     dateRange="May - August 2016 (full time), August - December 2016 (part time)"
                                     description="This is the description">
              </app-work-history-item>
              <app-work-history-item companyName="Miscellaneous"
                                     title="TODO"
                                     dateRange="May - August 2016 (full time), August - December 2016 (part time)"
                                     description="This is the description">
              </app-work-history-item>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-title>Education</mat-card-title>
        <mat-card-content>
          <p> TODO </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="pb-3">
    <!--
    WORD CLOUD STUFF
    <div class="col-sm-12">
      <mat-card>
        <mat-card-title>Skills</mat-card-title>
        <mat-card-subtitle>(big = advanced, small = beginner)</mat-card-subtitle>
        <mat-card-content>
          <angular-tag-cloud [config]="cloudOptions" [data]="cloudData"></angular-tag-cloud>
        </mat-card-content>
      </mat-card>
    </div> -->
    <mat-card class="container">
      <mat-card-title>Skills</mat-card-title>
      <div class="row">
        <div class="col-md-4">
          <mat-card>
            <mat-card-title>Advanced</mat-card-title>
            <mat-card-content>
                <ul>
                  <li *ngFor="let skill of advancedSkills">
                    {{ skill }}
                  </li>
                </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card>
            <mat-card-title>Intermediate</mat-card-title>
            <mat-card-content>
                <ul>
                  <li *ngFor="let skill of interSkills">
                    {{ skill }}
                  </li>
                </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card>
            <mat-card-title>Beginner</mat-card-title>
            <mat-card-content>
              <ul>
                <li *ngFor="let skill of introSkills">
                  {{ skill }}
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="row pb-3">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-title> Personal Life </mat-card-title>
        <mat-card-content>
          TODO
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
