.intro-headshot {
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

.intro-header {
  text-align: center;
  background-image: url("../../assets/intro-bg.jpg");
  background-position: center;
  border-radius: 4px;
}

.intro-title {
  background: rgba(255, 255, 255, .72);
  border-radius: 4px;
  margin-right: -2px;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
