// .container {
//   text-align: center;
//   padding: 1em;
// }

.intro-background {
  background: red;
}

.intro-headshot {
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

.intro-header {
  text-align: center;
  background: red;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
